ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: rgb(34, 32, 32);
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ffffff;
}

.video {
    width: 70%;
    margin: 40px auto;
}

.video video {
    width: 100%;
    border-radius: 10px;
}

.image{
    display: block;
    width: 50%;
    margin: 40px auto;
    border-radius: 10px;
}
/*
body{
    background-image: url('bilder/_101224732_gettyimages-852460374.jpg');
}
*/
-->
.center
{
  text-align: center;
}

.row
{
  display: flex;
  align-items: center;
  gap: 20px
}

.rowText
{
  display: flex; 
  flex-direction: column;
}

.rowText h1
{
  margin-bottom: 5px;
}

.rowText p
{
  margin-top: 5px;
  font-size: 20px;
}

.row p 
{
  margin-right: 25%;
}

.left
{
  margin-left: 25%;
}
