ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: rgb(34, 32, 32);
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ffffff;
}

.video {
    width: 70%;
    margin: 40px auto;
}

.video video {
    width: 100%;
    border-radius: 10px;
}

.image{
    display: block;
    width: 50%;
    margin: 40px auto;
    border-radius: 10px;
}